h1{text-align: center;
    padding: 10px;}

h3{text-align: center;
    padding: 3px;}

h4{text-align: center;
    padding: 3px;}

#black{padding: 3px;}

#blurb2{text-align: center;
    padding: 3px;}

#penguin{padding: 3px;}

#blurb3{text-align: center;
    padding: 3px;}

#hat{padding: 3px;}

form{padding: 10px;
    line-height: 2;}