h1{text-align: center;
    padding: 20px;
    background-color: rgb(0, 209, 66);}

h3{text-align: center;
    padding: 20px;}

h4{text-align: center;
    padding: 20px;}

#black{padding: 40px;}

#blurb2{text-align: center;
    padding: 20px;}

#penguin{padding: 40px;}

#blurb3{text-align: center;
    padding: 20px;}

#hat{padding: 40px;}

form{background-color: pink;
    
    padding: 30px;
    line-height: 2;
    text-align: center;}

